@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Book';
    src: url('/fonts/BOOK.otf');
  }
}

.excalidraw .dropdown-menu-button {
  display: none !important;
}

.excalidraw .library-button {
  display: none !important;
}

.excalidraw .help-icon {
  display: none !important;
}

.excalidraw .context-menu {
  display: none !important;
}
